@use 'base.scss';
* {
  font-family: base.$mainFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
}

.forms-container {
  background-color: base.$lightPrimary;
  border-right: solid 10px #1e1f1f;
  width: 60%;
  padding: 20px;
  height: 80%;
  border-radius: 20px;
}

.form-title {
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  color: #20db6b;
  font-weight: bold;
  text-transform: uppercase;
}

#auth-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(234, 222, 222, 0.25);
  border-radius: 15px;
  margin-top: 25%;
}

.app-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex-direction: column;
}

.detail-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.47);
}

.login-form {
  display: flexbox;
  align-self: center;
  flex: 1 0 auto;
  margin-top: 44px;
}

.auth {
  margin: 0 4%;

  @media #{base.$mq-medium} {
    margin: 0 1%;
    margin-top: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media #{base.$mq-large} {
    margin: 0 12%;
  }

  @media #{base.$mq-xlarge} {
    margin: 0 18%;
  }
}

.create-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  // align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.form-container {
  background: #f0f0f0;
  border-radius: 15px;
  padding: 12px;
  max-width: 800px;
  min-width: 400px;
  margin-top: 20px;
}

.create-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  /* identical to box height */
  color: #20db6b;
  text-transform: uppercase;
}

.create {
  height: 100%;
  display: flex;
}

// stats

.stat-container {
  background: #ffffff;
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  text-align: center;
  border-bottom: #20db6b 1px solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.stat-title-container {
  padding: 20px;
  text-align: left;
}

// diocese page
.top-list-container {
  background: #ffffff;
  box-shadow: 0px 4px 21px rgba(166, 172, 190, 0.29);
  border-radius: 7px;
  padding: 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.table-container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(166, 172, 190, 0.29);
  border-radius: 10px;
  padding: 10px;
  min-height: 400px;
}
.table-container .empty {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
  color: #d4d6d5;
}

.table-container h3 {
  text-align: left;
  font-size: 20px;
}

.diolog-title {
  font-size: 20px;
  font-weight: bold;
  color: #363635;
  text-align: center;
}

.title-container {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-card {
  background: #ffffff;
  box-shadow: 0px 4px 10px #e5e5e5;
  border-radius: 21px;
  padding: 13px;
}

.info-card .info-card-title {
  text-align: center;
  text-transform: uppercase;
  color: base.$secondary;
}

.info-card-list-title {
  font-size: 14px;
}

.data-create-container {
  padding: 16px;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 10px #dbdbdb;
  -webkit-box-shadow: inset 0 0 10px #dddddd;
  box-shadow: inset 0 0 10px #f0f0f0;
  background-color: #fffdfd;
}

.gtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  /* identical to box height */
  text-align: center;
  color: #747474;
}

// forms
.col-title {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
.col-title-main {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}

.form-col {
  border-radius: 6px;
  border: 1px dotted #066726;
  margin: 2px;
  padding: 5px;
}

.form-col .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.taux {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.card-tit {
  font-size: 16px;
  color: #056839;
  text-align: center;
}

.card-list :is(li) {
  font-size: 16px;
  margin-left: -23px;
  border-bottom: solid #8a8a8a 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form :is(.label) {
  color: rgb(102, 90, 90);
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;
}

.info-card {
  box-shadow: 0px 4px 10px #e5e5e5;
  border-radius: 21px;
}
.collection-component {
  background: #ffffffa6;
  border-radius: 6px;
  padding: 8px;
  min-height: 150px;
  margin-top: 15px;
}
.collection-component:hover {
  background: #fcfcfc;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.collection-component :is(.notice) {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  color: #056839;
}

.collection-component :is(.cont-title) {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2bb673;
  text-align: center;
  margin-top: 10px;
}

.comp-data :is(li) {
  padding: 12px;
  margin-left: -20px;
  border-top: solid rgb(236, 247, 234) 2px;
  display: flex;
  align-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.comp-data .special {
  background-color: #20db6bd7;
  text-align: center !important;
  font-weight: bold;
}

.comp-data .ctitle {
  font-size: 12px;
}

.comp-data .cdata {
  font-size: 18px;
  font-weight: bolder;
  color: #066726;
}

.collections {
  border-radius: 10px;
  border: #20db6b 1px solid;
  background-color: #20db6b;
  margin-top: 20px;
}


.field-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

 .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.form-col {
  border-radius: 6px;
  border: 1px dotted #066726;
  padding: 5px;
}
