@media only screen and (max-width: 600px) {
    .forms-container {
        width: 100%;
    }
    #auth-card {
        margin-top: 40%;
    }
    .app-info {
        display: none;
    }
    .create-container {
        padding: 4px;
    }
}